---
layout: default
---
The c64lib is a set of libraries written in KickAssembler. They are dedicated to the Commodore 64 computer
and consist of functions, macros and subroutines that can be used to speed up development process of Commodore 64
software.

<h1>Table of content</h1>

{% assign sorted_pages = site.pages | sort: "title" %}
<ul id="toc">
  {% for page in sorted_pages %}
    {% if page.layout == "page" and page.navOnly != true %}
      <li class="toc-entry">
        <h2><a href="{% if site.baseurl == "/" %}{{ page.url }}{% else %}{{ page.url | prepend: site.baseurl}}{% endif %}">{{ page.title }}</a></h2>
      </li>
    {% endif %}
  {% endfor %}
</ul>
