/*- Custom style -*/

// -- Put custom style under this point -- //

// custom colors
$header-background-color: lightgrey;

img + em {

}

// tables
table {
  border-spacing: 0px;
  th {
    background-color: $header-background-color;
  }
  th, td {
    padding: 5px;
    margin: 0px;
  }
  img {
    margin-bottom: 0px;
  }
}

div.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  div.tile {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 1em;
    margin: 1em;
    border-color: $text-color;
    border-style: dotted;
    border-width: 1px;
    p {
      margin-bottom: 0;
    }
  }
}
